Node-RedFlow
[{"id":"34dbdb20.fe6e14","type":"tab","label":"Twitter Integration","disabled":false,"info":""},{"id":"fe3be913.d534a","type":"watson-conversation-v1","z":"34dbdb20.fe6e14","name":"Watson Assistant","workspaceid":"069f318f-df6e-47fc-a92f-c9c5c01d40fe","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":630,"y":360,"wires":[["61f3c469.fa9564","a0ac3ac8.3f301"]]},{"id":"3b806274.aee72e","type":"twitter in","z":"34dbdb20.fe6e14","twitter":"","tags":"@AmerAir","user":"false","name":"#TestWatson","inputs":1,"x":180,"y":360,"wires":[["b87d706f.d6eb08","3d7850f7.2c526"]]},{"id":"b87d706f.d6eb08","type":"function","z":"34dbdb20.fe6e14","name":"Prepare input","func":"if (typeof msg.tweet.retweeted_status == 'undefined')\n{\n\tif (typeof msg.tweet.lang != 'undefined')\n    {\n        lang=msg.tweet.lang;\n    }\n\t\n\tvar msg = {\n\t\tuser: msg.tweet.user.screen_name,\n\t\tlang: lang,\n\t\ttweet: msg.tweet.text,\n\t\tpayload: msg.tweet.text\n\t};\n\tflow.set('tweet',msg);\n}\nreturn msg;","outputs":1,"noerr":0,"x":411,"y":358,"wires":[["fe3be913.d534a"]]},{"id":"cfab6514.b5369","type":"twitter out","z":"34dbdb20.fe6e14","twitter":"","name":"Twitter output","x":1061,"y":350,"wires":[]},{"id":"3d7850f7.2c526","type":"debug","z":"34dbdb20.fe6e14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":414,"y":272,"wires":[]},{"id":"61f3c469.fa9564","type":"debug","z":"34dbdb20.fe6e14","name":"","active":true,"console":"false","complete":"false","x":873,"y":432,"wires":[]},{"id":"a0ac3ac8.3f301","type":"function","z":"34dbdb20.fe6e14","name":"process result","func":"var tweet=flow.get('tweet');\nmsg.payload=\"@\"+tweet.user+\" \"+msg.payload.output.text+\"    \"+tweet.lang+\" \"+Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":829,"y":345,"wires":[["cfab6514.b5369","47c2d03c.0af65"]]},{"id":"47c2d03c.0af65","type":"debug","z":"34dbdb20.fe6e14","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1025,"y":280,"wires":[]}]
